<h1 style="color: red;">Contactanos:</h1>
<form action="">
    <label for="text" style="font-weight: bolder;">Usuario:</label>
    <input type="text">
    </br>
    </br>
    <label for="password" style="font-weight: bolder;">Contraseña:</label>
    <input type="password">
    </br>
    </br>
    <input type="submit" style="font-weight: bolder;" value="Enviar">
</form>