<!DOCTYPE html>
<html>
  <head>
    <title>Ejercicio M3 U2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: rgb(214, 247, 244);">
    <nav>
      <ul>
        <li><a style="font-weight: bolder; color: blue" href="/">Home</a></li>
        </br>
        <li><a style="font-weight: bolder; color: blue" href="/novedades">Novedades</a></li>
        </br>
        <li><a style="font-weight: bolder; color: blue" href="/contacto">Contacto</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>
